// Specific CSS for your home-page
.class {
  margin-bottom: 100px;
}



body {
  background-color: black;
  background: linear-gradient(90deg, rgb(196, 196, 206) 0%, rgb(225, 170, 170) 10%, rgb(255, 255, 255) 100%);
}

h1 {
  color: white
}
