// Specific CSS for your home-page
.class {
  margin-bottom: 100px;
}



body {
  background-color: rgb(215, 215, 215);
  background: linear-gradient(90deg, rgb(234, 233, 233) 0%, rgb(255, 247, 247) 10%, rgb(238, 238, 238) 100%);
}

h1 {
  color: white
}
