.rocket-animation-canvas{
  height: 100vh;
}

.booking-confirmation-container {
  width: 850px;
  height: 630px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: white;
  padding: 25px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: lightgray;
  border: 1px solid, lightgray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .booking-confirmation-info {
  align-items: baseline;
  flex-grow: 1;
}

  .bottom-text {
    margin-left: 4px;
  }

  h1 {
    font-size: 38.2px;
    text-align: left;
  }

  h2 {
    font-size:1.7em;
    margin: 0px auto 10px;
    color: $purple;
  }

  h3 {
    padding-bottom: 4px;
    font-size: 17px;
  }

  .button {
    margin-top: 40px;
    width: 450px!important;
    color: white!important;
    text-decoration: none;
  }

  a {
    color: white!important;
    text-decoration: none;
  }

  small a {
    text-decoration: none;
    color: $purple !important;
    margin-right: 15px;
    &:hover {
      color: $blue;
    }
  }
}

.booking-confirmation-column {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;
  a {
    color: white!important;
  }
}

.booking-confirmation-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.booking-confirmation {
  width: 450px;
  height: 150px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  &:hover {
    // box-shadow: 0px 0px 2px 2px purple;
    transform: translateY(-2px);
  }
}
