<div class="footer">
  <ul>
    <li>About Skillrocket</li>
    <li>Sign Up</li>
    <li>FAQ</li>
    <li>Contact Skillrocket</li>
  </ul>
  <div id="footer-logo">
    <%= link_to root_path, class: "navbar-brand" do%>
      <%= image_tag 'rocket_logo.png', style: "width: 70px"%>
    <% end %>
  </div>
</div>
