a {
  text-decoration: none;
}

.button {
  border: none;
  transition: background-color .4s linear;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
  font-family: inherit;
  padding: 10px;
  color: #fff;
  background-color: $purple;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background-color: $blue;
    text-decoration: none;
  }
}

button {
  border: none;
  transition: background-color .4s linear;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
  font-family: inherit;
  padding: 10px;
  color: #fff;
  background-color: $purple;
  &:hover {
    color: #fff;
    background-color: $blue;
    text-decoration: none;
  }
}
