.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(86, 86, 86);
  color: white;
  padding: 30px;
}

.footer li {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none !important;
  }
  margin-top: 10px;
  list-style-type: none;
  color: white;
  &:hover {
    text-decoration: none !important;
  }
}

li:first-child {
    margin-top:0;
}

#footer-logo {
  margin-left: 1200px;
  filter: brightness(0) invert(1);
}
