body {
  background-color: white;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: #de00a5;
  margin-bottom: 50px;
}

.container-new {
  display: flex;
  width: 1000px;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

.form-image {
  width: 450px;
  height: 600px;
  margin-top: 150px;
  opacity: 1.0;
}

.container-form {
  width: 450px;
  color: black;
  padding-right: 0px;
  padding-left: 0px;
    ::placeholder {
      color: lightgray;
    }
    .form-group {
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 40px;
    }
    .button {
    width: 250px;
    text-align: center;
    margin-bottom: 40px;
    display: block;
    margin: 0 auto;
    }
}

//   .ofo-button {
//   width: 250px;
//   text-align: center;
//   margin-bottom: 40px;
//   display: block;
//   margin: 0 auto;
// }
