.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.maxi-nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
}

#container-nav-category li a{
  font-size: 1em;
  &:hover {
    color: blue;
  }
}

.avatar.dropdown-toggle {
  cursor: pointer;
}

.navbar .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link:hover {
  color: blue !important;
}

#container-nav-category li {
  padding-left: 60px;
}

#container-nav-category {
  display: flex;
  align-items: center;
}

.navbar .form-inline {
  display: flex;
  justify-content: baseline;

}

.navbar .form-inline .button {
  max-height: 38px;
  border-radius: 0 8px 8px 0;
  padding: 10px;
}

.maxi-search-bar-nav {
  display: flex;
}

#container-nav-category {
  flex-grow: 1;
  .navbar .button {
    color: white !important;
    padding: 10px 20px !important;
  }
  .navbar .button:not(.form-inline .button) {
    font-size: 0.9em;
    padding: 10px 15px !important;
  }
}

@media (min-width: 1200px) {
  .navbar {
    .container {
      max-width: 1300px;
    }
  }
}

#maxi-list-avatar {
  display: flex;
  align-items: center;
}

#maxi-form-control-nav{
  background-color: #f1f0f0;
}
