.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


#container-nav-category li a{
  font-size: 30px;


}

#container-nav-category li {
  padding-left: 60px;
}

#container-nav-category {
  display: flex;
  align-items: center;
}

.form-inline {
  padding-top: 12px;
  display: flex;
  justify-content: baseline;
}

// .filip-search-button {
//   margin-bottom: 0;
//   margin-top: 0;
//   width: 100px;
// }
