// .javi-teacher-card {
//   max-width: 80%;
//   display: flex;
//   align-items: center;
//   margin: 15px auto;
//   background: white;
//   padding: 16px;
//   border: 1px solid rgb(235,235,235);
//   min-height: 90px;
//   .javi-teacher-image {
//     max-width: 15%;
//   }
// }
.javi-teacher-show-course-container {
  border-top: 1px solid rgba(128, 128, 128, 0.218);
  width: 100%;
  padding: 20px 5px 20px 0;
  background-color: white;
  border-radius: 0px 0 10px 10px;
}
.javi-teacher-additional-info {
  float: right;
  a {
    text-decoration: none;
    &:hover {
    text-decoration: none;
    }
  }
}
.javi-social-logo {
  max-width: 20px;
}

.card-teacher-infos {
  padding: 20px;
  width: 100%;
}

.card-teacher {
  overflow: hidden;
  display: flex;
  align-items: center;

  h2 {
    font-size: 1.2em !important;
    font-weight: bold;
    margin: 0;
    text-align: left !important;
    color: gray;
  }
  h3 {
    font-weight: bolder;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-teacher-infos {
    padding: 16px;
  }
}
